Coffekan Font


     @font-face {
          font-family: "coffekan";
          src: url("https://cdn.jsdelivr.net/gh/ManekaInduwara/kenoky-coffekan-font@main/coffekan-Regular.ttf")
            format("truetype");
        }

          html,
        body {
          font-family: "coffekan";
        }

   

Kenoky Font

       @font-face {
          font-family: "Kenoky Light";
          src: url("https://cdn.jsdelivr.net/gh/ManekaInduwara/kenoky-coffekan-font@main/KenokyLight.ttf")
            format("truetype");
        }


     html,
        body {
          font-family: "Kenoky Light";
        }

Neue Metana

      @font-face {
          font-family: "Neue Metana";
          src: url("https://cdn.jsdelivr.net/gh/ManekaInduwara/kenoky-coffekan-font@main/NeueMetana-Regular.otf")
            format("truetype");
        }



 font-family: 'Neue Metana';

Owner Maneka Induwara
